@font-face {
    font-family: ns;
    src: url('./../font/SamsungOne-400.ttf');
}
@font-face {
    font-family: bs;
    src: url('./../font/SamsungOne-700.ttf');
}

*,body,input {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: ns;
}

a {
    text-decoration: none;
    color: inherit;
}
#menubar {
    /* height: 0; */
    width: 100%;
    top: 214px;
    background-color: #fff;
    color:#282c34;
    position: fixed;
    z-index: 2;
    transition: 0.3s;
    overflow: hidden;
}
#closeMenu {
    display: none;
}
#indexHeader {
    background-image: url('./../image/Group3.svg');
    transform: rotate(180deg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 230px;
}
#indexHeader .item1 {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    color: #fff;
    transform: rotate(180deg);
    padding: 0 0 25px 0;
}
#indexHeader .item1 .item1-1 {
    width: 50%;
}
#indexHeader .item1 .item1-1  h3{
    font-size: 28px;
    font-family: bs;
}
#indexHeader .item1 .item1-1 span{
    font-size: 21px;
    transform: translateY(-5px);
}
#indexHeader .item1 .item1-1 .logo {
    height: 80px;
}
#indexHeader .item1 .item1-1 .info {
    transform: translate(-12px,3px);
}

#indexHeader .item1 .item1-2 {
    width: 50%;
}
#indexHeader .item1 .item1-2 a{
    height: 40px;
    font-size: 18px;
    margin: 0 20px;
    width: fit-content;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#indexHeader .item1 .item1-2 a.active{
    border-bottom: 1px solid #61dafb;
    margin: 0 20px;
    height: 40px;
    width: fit-content;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* body css */

#indexSkils {
    width: 80%;
    margin: 95px auto 45px auto;
}
#indexSkils .item {
    width: 46.5%;
    height: 210px;
    border-radius: 5px;
    background-color: #282c34;
    overflow: hidden;
}
#indexSkils .item .item1-1{
    color: #fff;

}
#indexSkils .item .item1-1 h3{
    font-size: 34px;
    font-weight: bold;
}
#indexSkils .item .item1-1 span{
    font-size: 20px;
    transform: translateY(-5px);
}
#indexSkils .item .item1-2 {
    width: 100%;
    transform: translate(4px, 30px);
}
#indexSkils .item .item1-2 .logoSkils {
    position: relative;
    z-index: 1;
    width: 250px;
    height: 250px;
    color:#fff;
    background: #16181c61;
    top: -31px;
    right: 14px;
    top: -31px;
    right: 14px;
    border-radius: 100%;
    transform: translate(120px,0px) rotate(0deg);
    animation-name: rotate;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  
    animation-timing-function: ease;
}
#indexSkils .item .item1-2 #textSkil {
    background-image: url('./../image/Group.svg');
    background-repeat: no-repeat;
    position: fixed;
    z-index: 333;
    width: 230px;
    height: 230px;
    top: -89px;
    right: -38px;
}
@keyframes rotate {
    0%   {transform: translate(130px,0px) rotate(-120deg);}
    25%  {transform: translate(130px,0px) rotate(-30deg);}
    50%  {transform: translate(130px,0px) rotate(60deg);}
    75%  {transform: translate(130px,0px) rotate(-120deg);}
    100%  {transform: translate(130px,0px) rotate(-30deg);}
}
#indexSkils .item .item1-2 .logoSkils .logo1.jquery {
    transform: rotate(-90deg);
}
#indexSkils .item .item1-2 .logoSkils .logo1.js {
    transform: rotate(-90deg);
}

#indexSkils .item .item1-2 .logoSkils .logo2 {
    transform: translate(0px,0px);
}
#indexSkils .item .item1-2 .logoSkils .logo3 {
    transform: rotate(90deg);
}
@media only screen and (max-width: 768px) {
    #indexSkils .item .item1-2 .logoSkils {
        top: -29px;
        right: 14px;  
    }  
    #indexHeader {
        transform: rotate(180deg) translateY(15px);
    }
}

/* me css */

#meSection1 {
background-image: url('./../image/Group3.svg');
transform: rotate();
background-position: top center;
background-size: cover;
background-repeat: no-repeat;
width: 100%;
margin-top: 160px;

}
#meSection1 .item {
    width: 85%;
}
#meSection1 .item .item1 {
    width: 40%;
    max-width: 400px;
    height: 400px;
    max-height: 400px;
    background-size: cover;
    border-radius: 100%;
    background-image: url('./../image/WhatsApp\ Image\ 2022-05-10\ at\ 10.35.19\ AM.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-origin: content-box;
    object-fit: cover;
    transform: translateY(-70px);
}
#meSection1 .item .item2 {
    width: 55%;
    /* height: 400px; */
    color: #fff;
    padding: 60px 0px 0 55px;
}
#meSection1 .item .item2 h3 {
    font-size: 36px;
    font-family: bs;
}
#meSection1 .item .item2 p {
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: 1px;
    margin: 5px 0 20px 0;
}
#meSection1 .item .item2 .meExpert h3{
    font-size: 20px;
    font-family: ns;
    line-height: 1.6;
    letter-spacing: 1px;
}
#meSection1 .item .item2 .meExpert .expert1{
    max-width: 20px 0;
}
#meSection1 .item .item2 .meExpert .expert1 svg{
    margin: 0 10px;
    /* width: 40px;
    height: 40px; */
}
#meSection1 .item .item2 .meCantact{
    margin: 20px 0;
}
#meSection1 .item .item2 .meCantact h3{
    font-size: 20px;
    font-family: ns;
    line-height: 1.6;
    letter-spacing: 1px;
}
#meSection1 .item .item2 .meCantact a{
   color: #61dafb;
   font-size: 20px;
}
#meSection1 .item .item2 .meCantact a.meResume{
    position: relative;
}
#meSection1 .item .item2 .meCantact a.meResume input {
    opacity: 0;
    width: 75px;
}
#meSection1 .item .item2 .meCantact a.meResume .meResumeLable {
    position: absolute;
    left: 0;
    border-bottom: 1px solid #61dafb;
}
@media only screen and (max-width: 1024px) {
    #meSection1 .item .item1 {
        width: 100%;
        padding: 0;
    }
    #meSection1 .item .item2 {
        width: 90%;
        padding: 0;
        transform: translateY(-40px);
    }
    #indexHeader .item1 .item1-1 {
        width: 70%;
    }
    #indexHeader .item1 .item1-2 {
        width: 30%;
    }
    #indexSkils .item {
        width: 60%;
    }  
}

@media only screen and (max-width: 991px) {
    #meSection1 .item{
        width: 90%;
    }
    #indexSkils .item {
        width: 70%;
    }    
}
@media only screen and (max-width: 768px) {
    #meSection1 .item .item2 {
        width: 95%;
    }
    #indexHeader .item1 .item1-1 {
        width: 90%;
    }
    #indexHeader .item1 .item1-2 {
        width: 10%;
    }
    #indexSkils .item {
        width: 80%;
    }
    #indexSkils .item .item1-1 h3{
        font-size: 28px;
        font-weight: bold;
    }
    #indexSkils .item .item1-1 span{
        font-size: 16px;
    }
    #indexSkils {
        margin-top: 45px;
    }
}
@media only screen and (max-width: 600px) {
    #meSection1 .item .item2 {
        width: 100%;
    }
    #indexHeader .item1 .item1-1 .logo {
        height: 80px;
        width: 80px;
    }
    #indexHeader .item1 .item1-1 .info {
        transform: translate(-12px,-8px);
    }
    #indexHeader .item1 .item1-1 .info h3 {
        font-size: 22px;
    }
    #indexHeader .item1 .item1-1 .info span {
        font-size: 16px;
    }    
    #indexSkils .item {
        width: 100%;
    }
}
@media only screen and (max-width: 500px) {

   
}
@media only screen and (max-width: 450px) {

    #indexHeader .item1 .item1-1 .info {
        transform: translate(-12px,-12px);
    }
    #indexHeader .item1 .item1-1 .info h3 {
        font-size: 18px;
    }
    #indexHeader .item1 .item1-1 .info span {
        font-size: 14px;
    }    
    #meSection1 .item .item1 {
        height: 350px;
    }
}

/* single 1  */

#single1Section1 {
    width: 100%;   
}
#single1Section1 .item {
    background-image: url('./../image/Group3.svg');
    transform: rotate();
    width: 100%;
    margin: 90px auto 90px auto;
    color: #fff;
}
#single1Section1 .item.me {
    background-image: url('./../image/Group3.svg');
    transform: rotate();
    width: 100%;
    margin: 90px auto 00px auto;
    color: #fff;
}

#single1Section1 .item .item1 {
    width: 80%;
    margin: 60px auto 0px auto;
}
#single1Section1 .item .item2 {
    width: 80%;
    margin: 30px auto 60px auto;
}
#single1Section1 .item .item2 .stacks div{
    width: 30px;
    height: 30px;
    margin: 20px 10px 0 0;
}
#single1Section1 .item .item1 h3{
    font-size: 28px;
    font-family: bs;
}
#single1Section1 .item .item1 p{
    font-size: 21px;
}